<div class="banner" style="background-image: url('https://www.vivons-maison.com/sites/default/files/styles/740px/public/field/image/bel-appartement-paris-18-eme-vue.jpg?itok=g1wH70aF');">
  <div class="banner-content">

    <h1>Bienvenue sur nos espace de co-working</h1>
    <%= link_to("CREATE NEW FLAT", new_flat_path, html_options = {class:"btn btn-danger"}) %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
        <div class="col-xs-12 col-sm-4">

      <% if flat.photo.present?  %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url('<%= cl_image_path flat.photo, height: 300, width: 400, crop: :fill %>')">

          <div class="modif-title-card" maxlength="10"><p> <i><%= flat.title %></i></p></div>
          <p> <%= link_to "GO", flat_path(flat.id) %> </p>

      </div>
    <% else %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('https://www.blog-deco-maison.com/wp-content/uploads/2014/02/appartement-design-floride-1.jpg')">

          <div class="modif-title-card" maxlength="10"><p><i> <%= flat.title %></i></p></div>
          <p> <%= link_to "GO", flat_path(flat.id) %> </p>
        </div>
  <%end%>

</div>
<%end%>

</div>
</div>



